//colors
$color-button-primary: #ef4056;
$color-black: #000;
$color-black-light: rgb(133, 126, 126);
$color-grey-dark: #424750;
$color-grey-light: #81858b;
$color-grey-lighter: #c1c1ca;

//screen size
$bp-largest: 75em;
$bp-large: 62.5em;
$bp-medium: 50em;
$bp-small: 37.5em;

//// fonts:
$font-primary: "Yekan", sans-serif;

//font (IRANYekan)
/* Webfont: Yekan */
@font-face {
  font-family: "Yekan";
  src: url("Yekan.eot"); /* IE9 Compat Modes */
  src: url("Yekan.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("Yekan.woff2") format("woff2"),
    /* Modern Browsers */ url("Yekan.woff") format("woff"),
    /* Modern Browsers */ url("Yekan.otf") format("opentype"),
    /* Open Type Font */ url("Yekan.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: "Yekan";
  color: $color-grey-dark;
  font-weight: 300;
  line-height: 1.6;
}
