.seller {
  &__box {
    padding: 3.5rem 2rem;
  }

  &__heading {
    &::after {
      content: "";
      width: 5%;
      height: 0.2rem;
      background-color: $color-button-primary;
      position: absolute;
    }
  }
}

.card-bg0 {
  align-items: center;
  border-radius: 0.6rem;
  padding: 0.1rem 1.5rem 0.2rem 1.3rem;
  margin-left: 0.18rem;
  margin-top: 4rem;
}

.card-bg1 {
  background-color: $color-grey-bg;
  align-items: center;
  border-radius: 0.6rem;
  padding: 0.1rem 1.5rem 0.2rem 1.3rem;
}

.card-bg2 {
  align-items: center;
  border-radius: 0.6rem;
  padding: 0.1rem 1rem 0.2rem 1.3rem;
  margin-bottom: 1rem;
}

.card {

  &__title {
    margin: 0.6rem 3.5rem -2rem 0;
    font-weight: 100;
    letter-spacing: 0.1rem;
  }

  &__title1 {
    margin: 0.6rem 2rem 0 0;
    font-weight: 100;
    letter-spacing: 0.1rem;
  }

  &__icon {
    font-size: 2rem;
    color: $color-black;
  }

  &__details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__send {
    font-size: 1.3rem;
    font-weight: lighter !important;
    color: $color-black-light;

    &--icon {
      color: $color-button-primary;
      margin: 1rem;
    }
  }

  &__guarantee {
    color: $color-black-light;
    font-weight: lighter !important;

    &--icon {
      color: $color-black !important;
      margin: 0.9rem;
    }
  }

  &__price {
    display: flex;
    align-items: center;

    &--main {
      font-weight: bold !important;
      font-size: 2rem;
      margin: 0.3rem;
    }

    &--sub {
      text-decoration: line-through !important;
      color: $color-grey-lighter;
      font-size: 1rem;
      font-weight: bold !important;
    }
  }
}

.off {
  background-color: $color-button-primary;
  padding: 0.09rem 0.6rem;
  border-radius: 4rem;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.satisfaction {
  margin: -1.5rem 3.5rem 0 0;
  letter-spacing: 0.1rem;

  &__main {
    font-size: 1.2rem;
    color: $color-grey-light;

    &--perfect{
      color: rgb(38, 177, 73) !important;
      letter-spacing: -0.09rem;
      font-size: 1.6rem !important;
    }

    &--good {
      color: #b1b64d !important;
      letter-spacing: -0.09rem;
      font-size: 1.6rem !important;
    }
  }
}

.cardservice {
  margin: 1.5rem 3.5rem 0 0;
  background-image: linear-gradient(
    270deg,
    rgba(215, 168, 204, 0.09) 5%,
    hsla(0, 0%, 100%, 0)
  );
  padding: 0.3rem 0.6rem;
  border-radius: 0.7rem;
  display: flex;
  align-items: center;

  &__icon {
    color: rgb(179, 20, 179);
    font-size: 1.5rem;
    margin: 0.3rem;
  }

  &__main {
    color: rgb(179, 20, 179);
    font-size: 1.3rem;
    margin: 0.4rem;
  }

  &__sub, {
    font-size: 1.1rem;
    margin: 0.6rem;
    color: $color-black-light;
  }
}

.seemore {
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  margin-right: 1rem;
}