%heading {
  font-family: "Yekan";
  font-weight: 400;
}

.heading-3 {
  @extend %heading;
  font-size: 1.7rem;
}

.heading-4 {
  @extend %heading;
  font-size: 1.7rem;
}

.heading-5 {
  @extend %heading;
  font-size: 1.3rem;
}

.btn {
  font-size: 1.5rem;
  font-family: "Yekan";
  background-color: $color-button-primary;
  color: #fff;
  border: none;
  border-radius: 1rem;
  padding: 1.2rem 2rem;
  cursor: pointer;
  transition: all 1s;
  margin-right: 2.3rem;
}

.mb-xs {
  margin-bottom: 1.3rem;
}
 .flex {
  display: flex;
  align-items: center;
 }